@import url('https://fonts.googleapis.com/css2?family=Favorit&display=swap');

body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: 'DM Mono', monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-weight: normal;
}

#headline, #discoverButton {
    font-family: 'DM Mono', monospace;

  }

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

button {
    display: block;
    width: 150px;
    height: 50px;
    margin: 20px auto;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 25px;
    font-size: 14px;
    font-family: 'Favorit', DMMONO, sans-serif;
    color: rgb(253, 248, 0);
    cursor: pointer;
    transition: background-color 0.3s;
    transition: transform 0.1s;
}

button:hover {
    background-color: rgba(255, 255, 0, 0.3);
    transform: scale(1.1); /* Increase button size when hovered */
    animation: bounce 0.1s infinite alternate; /* Add bounce animation */
}

@keyframes bounce {
    0% {
        transform: translateY(0) scale(1.5);
    }
    100% {
        transform: translateY(-10px) scale(1.5);
    }
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.notification-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: 0 0 10px rgb(255, 255, 0), 0 0 20px rgba(255, 255, 0, 0.8) ;
    text-align: center;
    padding: 10px 0;
    z-index: 1000;
    box-shadow: 0 0 10px rgb(255, 255, 0), 0 0 20px rgba(255, 255, 0, 0.8);
    border: 2px solid rgb(255, 255, 255);
  }
  
  .notification-bar-text {
    font-size: 10px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: none;
   letter-spacing: 2px; /* Add this line */
}

.headline {
    color: rgba(255, 251, 0, 1);
  }
  
  .pulsing {
    animation: pulse 2s infinite;
    color: rgba(255, 251, 0, 1);
  }
  
  @keyframes pulse {
    0% {
      text-shadow: 0 0 10px rgba(255, 251, 0, 1), 0 0 20px rgba(255, 251, 0, 1);
    }
    50% {
      text-shadow: 0 0 20px rgba(255, 251, 0, 1), 0 0 30px rgba(255, 251, 0, 1);
    }
    100% {
      text-shadow: 0 0 10px rgba(255, 251, 0, 1), 0 0 20px rgba(255, 251, 0, 1);
    }
  }

  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    color: #ffffff;
    z-index: 1000;
  }
  
  .footer a {
    color: #ffffff;
    text-decoration: none;
  }
  
  .footer a:hover {
    color: #ffff00;
  }